@import url('https://fonts.googleapis.com/css?family=Lora|Slabo+27px');

body{
	--primary:#FFF282;
	--secondary:#FFD353;
}

*{
	background: var(--primary) ;
}

.header{
	height: 200px;
	background: var(--secondary);
}

.nav{
	height: 100px;
	background: var(--secondary);
	margin-top: 20px;
	margin-bottom: 20px;
}

.nav-btn{
	background: var(--secondary);
	padding-left: 50px;
	padding-right: 50px;
	font-size: 20px;
	color: black;
	height: 100px;
	padding-top: 40px;
}

.texnav{
	height: 100px;
	background: var(--secondary);
	margin-top: 20px;
	margin-bottom: 20px;
}

.textnav{
	background: var(--secondary);
	padding-left: 50px;
	padding-right: 50px;
	font-size: 20px;
	color: black;
	height: 100px;
	padding-top: 40px;
}

.main{
	background: var(--secondary);
}

.aside{
	background: var(--secondary);
}

.option{
	color: black;
	font-size: 20px;
	text-align: center;
	background: var(--secondary);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.img{
	background: var(--primary);
	height: 200px;
}

.footer{
	height: 150px;
	background: black;
	margin-top: 20px;
}

.contacto{
	color: white;
	margin-left: 50px;
	background: black;

}

.nav-btn:hover{
	background:var(--primary);
	font-size: 25px;
	cursor: pointer;
}

.option:hover{
	background:var(--primary);
	font-size: 25px;
	cursor: pointer;
}

.fan{
	border-radius: 10px;
}

.link{
	background: black;
}

.textoFooter{
	background: black;
	color: white;
}

.text{
	background: var(--secondary);
	padding-top: 10px;
	padding-left: 70px;
	padding-right: 10px;	
}

h2, span{
	background: var(--secondary);
	text-align: center;
}
